/*#############################################################
## GENERAL
/*###########################################################*/
/*-------------------------------
# FONT : External
--------------------------------*/
@import url("https://fonts.googleapis.com/css?family=Nunito:300,400,600,700,900&display=swap");
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

/*#############################################################
## Reset
/*###########################################################*/
/*-------------------------------
# Default Variables
--------------------------------*/
$container-width: 1140px;
$body-font-family: "Nunito";
$body-font-color: #000000;
$body-font-size: 16px;
$body-background-color: #ffffff;
$header-font-famly: "Nunito";
$header-font-color: #000000;
$header-font-size: 18px;
/*-------------------------------
# Body
--------------------------------*/
body {
  font-family: $body-font-family;
  color: $body-font-color;
  background-color: $body-background-color;
  font-size: $body-font-size;
  font-style: normal;
}
/*-------------------------------
# Header
--------------------------------*/
label,
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: $header-font-famly;
  color: $header-font-color;
  font-size: $header-font-size;
  font-weight: 800;
}
h1,
.h1 {
  font-size: 50px;
}
h2,
.h2 {
  font-size: 32px;
}
h3,
.h3 {
  font-size: 18px;
}
h4,
.h4 {
  font-size: 18px;
}
h5,
.h5 {
  font-size: 18px;
}
h6,
.h6 {
  font-size: 18px;
}
/*-------------------------------
# Link
--------------------------------*/
%custom-link-secondary {
  color: #e87f22;
  text-decoration: none;
  outline: none;
}
a {
  @extend %custom-link-secondary;
  &:link,
  &:focus,
  &:hover,
  &:visited,
  &:active {
    @extend %custom-link-secondary;
  }
}
/*-------------------------------
# Bold
--------------------------------*/
b,
strong {
  font-weight: bold;
}
/*-------------------------------
# Ialic
--------------------------------*/
i,
em {
  font-style: italic;
}
/*-------------------------------
# Bullet
--------------------------------*/
ul,
ol {
  margin: 0 0 1rem 0;
  padding: 0 0 0 1rem;
  display: block;
  li {
    margin-bottom: 5px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
/*-------------------------------
# Blockquote
--------------------------------*/
blockquote {
  > * {
    &:first-child {
      &:before {
        content: '"';
        display: inline-block;
        font-family: inherit;
        color: inherit;
        font-size: inherit;
        margin-right: 5px;
      }
    }
    &:last-child {
      &:after {
        content: '"';
        display: inline-block;
        font-family: inherit;
        color: inherit;
        font-size: inherit;
        margin-left: 5px;
      }
    }
  }
}
/*#############################################################
## Image
/*###########################################################*/
img {
  height: auto;
  max-width: 100%;
}
/*#############################################################
## Forms
/*###########################################################*/
/*-------------------------------
# Inputs
--------------------------------*/
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
select,
textarea {
  padding: 8px;
  bottom: 0;
  width: 100%;
}
/*-------------------------------
# Placeholder
--------------------------------*/
@include placeholder-default {
  color: gray;
  opacity: 1;
  // text-transform: uppercase;
  font-family: inherit;
}
/*#############################################################
## Custom Button
/*###########################################################*/
/*-------------------------------
# Custom Button | button-primary
--------------------------------*/
%custom-button-primary {
  // Color
  background-color: #dedede !important;
  background-image: none;
  color: #000000 !important;
  border: 1px solid #dedede !important;
  border-radius: 3px !important;
  // Text
  font-size: 1em;
  line-height: 1.5;
  word-wrap: normal;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  font-weight: 400;
  font-family: inherit;
  cursor: pointer;
  // Sizing
  display: inline-block;
  padding: 0.5rem 1rem;
  margin: 0;
  // Transition
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.button.button-primary {
  @extend %custom-button-primary;
  &:link,
  &:focus,
  &:visited,
  &:active {
    @extend %custom-button-primary;
  }
  &:hover {
    @extend %custom-button-primary;
    opacity: 0.8;
  }
}
/*#############################################################
## Wordpress
/*###########################################################*/
#wpadminbar {
  z-index: 9999;
  * {
    color: #fff;
  }
}
.post,
.page {
  margin: 0;
}

// Firefox fix for font-weight
html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-weight: 400;
}
@-moz-document url-prefix() {
  body {
    font-weight: lighter !important;
  }
}

/*#############################################################
## Bootstrap Styling
/*###########################################################*/
/*-------------------------------
# Bootstrap Container
--------------------------------*/
.container-fluid {
  max-width: 1600px;
}
.container {
  max-width: $container-width;
}
